.doughnut { 
    margin: 0 auto;
    width: 365px;
    height: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.category__bucket {
    padding-top: 10px;
    margin-left: 85px;
}

.category__bucket--header {
    font-size: 3em;
    text-transform: uppercase;
    color: #FF6384;
    font-weight: 100;
}

.category__bucket--number {
    font-size: 2em;
    color: #36A2EB;
    font-weight: 100;
}

.category__header {
    font-size: 1.0em;
    color: black;
    text-transform: uppercase;
    font-weight: 100;

}
.category {
    margin-top: 20px;
}
.category h3,
.category input
 {
    display: inline;
    margin-right: 15px;
    vertical-align: top;
}

.money_left__divider {
    margin-top: 40px;
}
